<div class="filter-page">
  <aside class="filter-panel">
    <h2>Filter Quizzes</h2>

    <!-- Category -->
    <label>Category:</label>
    <select [(ngModel)]="filters.category" name="category" (ngModelChange)="onChangeCateory()">
        <option disabled>Select Category</option>
        @for (item of this.sharedService.TenantData()?.categories; track $index) 
        {
          <option [value]="item.catName">{{item.catName}}</option>
        }
      
    </select>

    <!-- Level -->

        @if (isTech) {
    <label>Level:</label>
    <select [(ngModel)]="filters.level" name="level">
       <option disabled>Select Level</option>
      @for (item of  this.sharedService.TenantData()?.levels; track $index) {
         @if (item.levelName!='non') {
       <option [value]="item.levelName">{{item.levelName}}</option>
         }
      }
   
   
      <!-- <option value="Advance">Advance</option> -->
    </select>
}
 

    <!-- Syllabus -->
     @if (filters.category!='Select Category') {
    <label>Syllabus:</label>
    <select [(ngModel)]="filters.syllabus" name="syllabus">
      <option disabled>Select Syllabus</option>
        @for (item of this.sharedService.TenantData()?.subjects; track $index) {
           @if (item.catname==filters.category) {
           <option [value]="item.subject_Name">{{item.subject_Name}}</option>
           }
        }
    </select>
     }
    <!-- Timer -->
    <label>
      <input type="checkbox" [(ngModel)]="filters.useTimer" (ngModelChange)="enableTimer()" name="useTimer" />
      Enable Timer
    </label>

    <div *ngIf="filters.useTimer">
      <label>Time per question:</label>
      <input
        type="text"
        [(ngModel)]="time"
        (keyup)="enterTime()"
        name="timePerQuestion"
        placeholder="Enter time in minut "
      />
    </div>

    <button (click)="applyFilters()">Apply Filters</button>
  </aside>

  <section class="quiz-results">
    <h3>Filtered Quizzes</h3>
    <div *ngFor="let quiz of filteredQuizzes" class="quiz-card" routerLink="/quiz_start">
      <h4>{{ quiz.title }}</h4>
      <p>Category: {{ quiz.category }}</p>
      <p>Level: {{ quiz.level }}</p>
      <p>Syllabus: {{ quiz.syllabus.join(', ') }}</p>
      <p *ngIf="filters.useTimer">Timer: {{ filters.timePerQuestion }}</p>
    </div>
  </section>
</div>