<div class="filter-page">
  <aside class="filter-panel">
    <h2>Filter Quizzes</h2>

    <!-- Category -->
    <label>Category:</label>
    <select [(ngModel)]="filters.category" name="category" (ngModelChange)="onChangeCateory()">
        <option disabled>Select Category</option>
        @for (item of this.sharedService.TenantData()?.categories; track $index) 
        {
          <option [value]="item.catName">{{item.catName}}</option>
        }
      
    </select>

    <!-- Level -->

        @if (isTech) {
    <label>Level:</label>
    <select [(ngModel)]="filters.level" name="level" (change)="onChangeLevel()">
       <option disabled>Select Level</option>
      @for (item of  this.sharedService.TenantData()?.levels; track $index) {
         @if (item.levelName!='non') {
       <option [value]="item.levelName">{{item.levelName}}</option>
         }
      }
   
   
      <!-- <option value="Advance">Advance</option> -->
    </select>
}
 

    <!-- Syllabus -->
     @if (filters.category!='Select Category') {
    <label>Syllabus:</label>
    <select [(ngModel)]="filters.syllabus" name="syllabus" (change)="onChangeSyllabus()">
      <option disabled>Select Syllabus</option>
        @for (item of this.sharedService.TenantData()?.subjects; track $index) {
           @if (item.catname==filters.category) {
           <option [value]="item.subject_Name">{{item.subject_Name}}</option>
           }
        }
    </select>
     }


    <label>Number of quiz</label>
     <select [(ngModel)]="numberOfQuestions" name="numberOfQuestions">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
     </select>



     <label>
      <input type="checkbox" [(ngModel)]="filters.useTimer" (ngModelChange)="enableTimer()" name="useTimer" />
      Enable Timer
    </label>

    <div *ngIf="filters.useTimer">
      <label>Time :</label>
      <input
        type="text"
        [(ngModel)]="time"
        (keyup)="enterTime()"
        name="timePerQuestion"
        placeholder="Enter time in minut "
      />
    </div>
    <!-- <button (click)="applyFilters()">Apply Filters</button> -->
  </aside>


  <section class="quiz-results">
    <h3>Filtered Quizzes</h3>
    <div class="quiz-main" >
      @for (quiz of this.sharedService.TenantData()?.card; track $index) {
       <div class="quiz-card"  (click)="getQuiz(quiz)">
         <h4>{{ quiz.heading }}</h4>
         <p>Category: {{ quiz.catName }}</p>
         <p>Level: {{ quiz.levelName }}</p>
         <p>Number of Questions: {{ numberOfQuestions }}</p>
          @if (filters.useTimer) {
            <p >Timer: {{ filters.timePerQuestion }}</p>
          }
       </div>
     }
    </div>
  </section>
</div>