<div class="quiz-page" [formGroup]="quizForm">

  <!-- Top Dropdowns -->
  <div class="top-filters">
    <select formControlName="category">
      <option value="" disabled selected>Category</option>
      @for (item of _shared.TenantData()?.categories; track $index) {
              <option  [value]="item.catId">{{item.catName}}</option>
      }
     
    </select>

    <select formControlName="syllabus">
      <option value="" disabled selected>Syllabus</option>
      @for (item of _shared.TenantData()?.subjects; track $index) {
              <option  [value]="item.subjectId">{{item.subject_Name}}</option>
      }
    </select>

    <!-- <select formControlName="subSubject">
      <option value="" disabled selected>Sub Subject</option>
      <option *ngFor="let sub of subSubjects" [value]="sub">{{sub}}</option>
    </select> -->

    <select formControlName="level">
      <option value="" disabled selected>Level</option>
     @for (item of _shared.TenantData()?.levels; track $index) {
         @if (item.levelName!='non') {
              <option  [value]="item.levelId">{{item.levelName}}</option>
         }
      }
    </select>
  </div>

  <!-- Questions -->
  <div formArrayName="questions">
    <div *ngFor="let q of questions.controls; let i = index" [formGroupName]="i" class="quiz-form">

      <!-- Delete Question Button -->
      <div class="question-header">
        <button type="button" class="delete-btn" (click)="deleteQuestion(i)">❌ Delete Question</button>
      </div>

      <textarea formControlName="questionText" placeholder="Enter Question Here"></textarea>

      <div formArrayName="options" class="options">
        <div *ngFor="let opt of options(i).controls; let j = index" [formGroupName]="j" class="option-row">
          <input type="checkbox" formControlName="correct"  (change)="onCorrectChange(i, j)" />
          <input type="text" formControlName="value"  placeholder="Enter Option {{j+1}} value" />
          <!-- Delete Option Button -->
          <button type="button" class="delete-btn" (click)="deleteOption(i, j)">❌</button>
        </div>
      </div>

      <button type="button"
       [disabled]="options(i).length >= 4"
       (click)="addOption(i )">+ Add Option</button>
    </div>
  </div>

  <!-- Add Question -->
  <div class="add-form-btn">
    <button type="button" (click)="addQuestion()">+ Add Another Question</button>
  </div>

  <!-- Submit -->
  <div class="submit-btn">
    <button type="button" (click)="submitQuiz()">Add Quiz</button>
  </div>
</div>